
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Andika', sans-serif;
}
body{
    background-color: rgb(229, 243, 255);
}
.title{
    text-align: center;
    padding: 10px;
}
#select{
    padding: 10px 0px;
}
.label{
    font-size: 1.2rem;
}
.select{
    font-size: 1.2rem;
}
#color_code{
    display: inline-block;
    padding: 4px;
    color: rgb(2, 2, 2);
}
.button{
    padding-bottom: 10px;
}
#btn{
    text-align: center;
    font-size: medium;
    font-weight: 500;
    padding: 5px;
    outline: 0px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid white;
}
#btn:active{
    background-color: rgb(95, 94, 94);
    color: rgb(7, 7, 7);
    border: 1px solid rgb(12, 12, 12);
}
@media (max-width: 600px) {
    .main{
        background-color: rgb(166, 209, 247);
        border-radius: 5px;
        box-shadow: rgb(26, 26, 26) 0px 5px 10px 0px;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 600px) {
    .main{
        background-color: rgb(166, 209, 247);
        border-radius: 5px;
        box-shadow: rgb(26, 26, 26) 0px 5px 10px 0px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

  